 
 
.arrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #4A99D3;
  box-sizing: border-box;
}

.arrow {
  width: 12px;
  height: 12px;
  border-width: 3px 3px 0 0;
  border-style: solid;
  margin: 10px;
}
 
.right{
  transform: rotate(45deg);
  color: #4A99D3
  
}

.left{
  transform: rotate(225deg);
  color:rgb(255, 255, 255)
}
